$colors: (
  "white": #ffffff,
  "black": #072227,
  "pink": #ff008e,
  "oldpink": #d22779,
  "blue": #0c1e7f,
  "purple": #612897,
  "green": #27af86,
  "transparent": transparent,
  "gray-1": #f3f3f3,
  "gray-2": #89939d,
);

// Default Font Size
$base-font-size: 16px;

$br-xxs: 375px;
$br-xx: 425px;
$br-xs: 480px;
$br-mm: 512px;
$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1140px;
$br-xxl: 1200px;
